<div class="container">
    <h3>List Of order</h3>
   {{#if controllers.application.currentUser.isLogin}}
    <div class="row">

        <div class="col-md-4 itemList">Product</div>
        <div class="col-md-4 itemList">Price</div>
        <div class="col-md-4 itemList">SUBTOTAL</div>
    </div>
    {{#each model}}
    <div class="row ">


        <div class="col-md-2 itemList ">
            {{#link-to 'products.product' id}}<img {{bind-attr src=src}} alt="product" height="50" width="50">{{/link-to}}

        </div>

        <div class="col-md-2 itemList">
            <p>{{title}}</p>
            <p>{{description}}</p>

        </div>

        <div class="col-md-4 itemList">
            <p>{{price}}</p>

        </div>
        <div class="col-md-4 itemList">
            <p>{{price}}</p>

        </div>


    </div>

    {{/each}}

    <div class="row">
        <div class="col-md-2 col-md-offset-6">
            TOTAL COST:
        </div>

        <div class="col-md-2 ">
            {{controllers.application.total}}

        </div>

    </div>
    <div class="row">
    	 <div class="col-md-2 col-md-offset-5 itemList">
           {{#link-to "products"}} <button class="btn btn-primary">Continue Shopping</button>{{/link-to}}
        </div>
        

       

    </div>
  
{{/if}}
</div>