<div class="container">
 {{#if controllers.application.numberOfcartProduct}}
 
 <div class="row addresshead">
  <div class="col-md-5 col-md-offset-4 ">
 <h4>Shipment Address:</h4>
 </div> 
 </div>
 <div class="address">
 <div class=" row">

    <div class="col-md-5 col-md-offset-3">
   <b>Name: </b> {{user.name}}
   </div>
   </div>
   <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <b>Address: </b>{{user.address}}
   </div>
 </div>

    <div class="row" id="payable">
          <div class="col-md-6 col-md-offset-3">
            {{controllers.application.numberOfcartProduct}} Items Ordered
        </div>

    </div>
    <div class="row" id="payable">
        <div class="col-md-6 col-md-offset-3 ">
            Amount Payable : Rs. {{controllers.application.total}}
        </div>
    </div>
    </div>
   <div class="row addresshead">
    <div class="col-md-5 col-md-offset-4">
      <h4>Payment Type</h4>
    </div>
    </div>
    <div class="address">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
   
           <form  {{action 'pay' product on="submit" }}>
            <div class="row">
              <div class="form-group">
                 Card Number: {{input value=cardNumber type="number" class="form-control"}}
              </div>
            </div>

            <div class="row">
              Expire On:
              <div class="form-group">              
              <div class="col-md-5 selection">                 
                   <select class="form-control" id="month">
                        <option>Month</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                      </select>
                      <select  id="year" class="form-control" >
                        <option>year</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                      </select>
                      </div>
              </div>
            </div>

                <div class="row">
              <div class="form-group">
                 Name on the Card: {{input value=nameOnCard type="text" class="form-control"}}
              </div>
            </div>


             <div class="row">
                <div class="col-md-1 col-md-offset-3">
                <button type="submit" class="btn btn-primary">Pay</button>
                </div>
             </div>
            
  </form>
  </div>
   </div>
   </div>
    {{/if}}

     
</div>